
#--Operating Systems
# OS X
# https://github.com/github/gitignore/blob/master/Global/OSX.gitignore
.DS_Store
.AppleDouble
.LSOverride
.idea/workspace.xml
# Icon must ends with two \r.
Icon
 
# Thumbnails
._*
# Files that might appear on external disk
.Spotlight-V100
.Trashes
.idea
bower_components
node_modules/
tabla-data/*.txt